<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data" class="example-table">

      <ng-container matColumnDef="_id">
        <tr mat-cell *matCellDef="let row">[[[{{row.id}}]]]</tr>
      </ng-container>
     <ng-container matColumnDef="title">
        <tr mat-cell *matCellDef="let row" class="title">{{row.title}}</tr>
      </ng-container>

      <ng-container matColumnDef="author">
        <tr mat-cell *matCellDef="let row"><span class="author">{{row.author}}</span> <span class="date">{{row.date}}</span></tr>
      </ng-container>

      <ng-container matColumnDef="date">
        <tr mat-cell *matCellDef="let row"></tr>
      </ng-container>
     <ng-container matColumnDef="image">
        <tr mat-cell *matCellDef="let row"><img src="{{row.image}}" alt="{{row.image}}" /><a href="/articles-details/{{row.id}}" class="read_more">Read more...</a><hr></tr>
      </ng-container>
     <ng-container matColumnDef="content">
        <tr mat-cell *matCellDef="let row" class="content">{{row.content}}</tr>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/articles-details/', row.id]"></tr>
     
    </table>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/add-articles']"><mat-icon>add</mat-icon> Articles</a>
  </div>
</div>
