<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card style="margin-top:10px;" class="article_details">
      <mat-card-header> 
          <mat-card-title class="title">{{articles.title}}</mat-card-title>
          <mat-card-subtitle class="subtitle">
            {{articles.author}} on {{articles.date}}
          </mat-card-subtitle>
        </mat-card-header>
      <mat-card-content>
        <img style="height:100%; width: 100%;" src={{articles.image}} />
          <p class="content">
              {{articles.content}}
          </p>
      </mat-card-content>
  </mat-card>
  </div>